/**
* @name Elementcord
* @description A theme to make Discord look like another popular messenger.
* @author qxxst
* @website https://github.com/qxxst/Elementcord
* @version 0.3
*/

/* Imports necessary fonts and tells Discord to use them instead of its illegible default font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
    --font-primary: 'Inter', sans-serif;
    --font-display: 'Inter', sans-serif;
    --font-headline: 'Inter', sans-serif;
    --font-code: 'Inconsolata', sans-serif;
}

/* Sets Discord's purple accent color to Element's green accent color */
:root {
    --brand-experiment: #129a78;
}

/* Sets the color of the main chat window */
:root {
    --background-primary: #101317;
}

/* Sets the color of the chat input box to be the same as the main chat window */
.themedBackground__6b1b6 {
    background-color: var(--background-primary);
}

/* Sets the color of the channel list */
:root {
    --background-secondary: rgba(38,40,45,.9);
    --background-secondary-alt: var(--background-secondary);
}

/* Sets the color of the server list */
:root {
    --background-tertiary: rgba(38,39,43,.82);
}

/* Sets Discord's server list to be the same width as Element's (collapsed) sidebar */
.guilds__2b93a {
    width: 68px;
}

/* Sets the mute, deafen, and settings icon colors */
:root {
    --interactive-normal: #808994;
}

/* Sets the search bar's background color */
.searchBarComponent__22760 {
    background-color: rgba(233,219,240,.06) !important;
}

.searchBar_e4ea2a {
    background-color: var(--background-secondary) !important;
}

/* Sets the beta tag color */
:root {
    --brand-500: #4187EB;
}

/* Sets the settings page to use the same background color as the main chat window */
.sidebarRegionScroller__1fa7e {
    background-color: var(--background-primary);
}

/* Hides the Discord logo from the top bar */
.wordmarkWindows__05c46 {
    display: none;
}

/* Updates how text channels appear in the list */
[aria-label="Text icon"], [aria-label="Text (Limited) icon"], [aria-label="Rules icon"], [aria-label="Announcements icon"], [aria-label="Text (Active Threads) icon"] {
    display: none;
}

.linkTop_eaa673 {
    text-transform: capitalize;
}

/* Updates the names of text channels in the main chat window */
.iconWrapper_af9215 {
    display: none;
}

.titleWrapper__482dc {
    text-transform: capitalize;
}

/* Removes the verified checkmark from bots */
[aria-label="Verified Bot"] {
    display: none;
}

/* Removes boost/community icons from server names */
.guildIconContainer_a995c7 {
    display: none;
}

.guildIconV2Container__53cdb {
    display: none;
}

/* Sets the selected channel's background color */
:root {
    --bg-overlay-selected: rgba(233,219,240,.06);
}

/* Sets the background color of the home icon */
.childWrapper__01b9c {
    background-color: var(--background-tertiary);
}